body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: rgb(2, 0, 15);
    color: rgb(236, 236, 236);
}

a {
    color: rgb(181, 196, 201);
}

textarea {
    font-family: Helvetica, sans-serif;
}